body {
  padding-top: 50px;
}

#search-form {
    margin-top: 10em;
}

/* Align text with the one in table */
#search-form input[type=text] {
    padding-left: 7px; /* +1px border */
}
#search-status {
    padding: 8px;
}
